// 给项目提供scss的全局变量

// 左侧菜单的属性
$base-menu-width: 260px;
$base-menu-background: rgb(83, 90, 90);
$base-menu-logo-height: 50px;
$base-menu-logo-title-fontsize: 20px;

// 菜单切换导致的内容区域的宽度变化
$base-menu-min-width: 50px;

// 顶部导航栏的参数
$base-tabbar-height: 50px;